/*
    Custom elements

*/
html {
    height: 100%;
}

body {
    overflow: hidden;
    height:100%;
}

.wrapper {
    height:100%;
    min-width:700px;
}


/*       MENU BUTTON */
.main-btn {
    max-width: 100px;
    margin: 10px 10px 0 10px;
}

.main-btn:hover {
    cursor:pointer;
}

.btn-lg:hover {
    cursor:pointer;
}

.clickable:hover {
    cursor:pointer;
}
/* OVERLAY */


.overlay,
#overlay-shade {
    display: none;
}

#overlay-shade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000;
}

.overlay {
    position: absolute;
    left: 0;
    width: 70%;
    min-height: 200px;
    height: 70%;
    z-index: 10000;
    background-color: white;
    border: 10px solid #CFCFCF;
    color: darkslategray;
    box-shadow: 0 0 16px #000;
} .ie7 .overlay {
      height: 200px;
  }

  .wrap {
      white-space: normal;
  }

  /* Country enabler overlay */

.form-horizontal > label {
    margin-top:13px;
}

.no-overflow {
    overflow-y:hidden;
}

input[type=number].no-spin::-webkit-inner-spin-button,
input[type=number].no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.continent-selector {
    width:100%;
    margin-top:5px;
    overflow-x:hidden;
    overflow-y:auto;
}

.no-padding {
    padding-left:0;
    padding-right:0;
}

  /** Focus Country righthandside **/
.selector-container {
    width:100%;
    padding: 0 5px;
}

#country-focus-list{
    max-height: 300px;
    overflow-y:scroll;
    overflow-x:hidden;
    padding-left:5px;
    padding-right:5px;
    margin-right:0;
    margin-left:0;
}

div.filter{
    display:none;
    color:black;
    margin-left:-5px;
    margin-right:-5px;
}

.filter > div {
    margin-right:0;
    margin-left:0;
}

.filter > div > input{
    border:none;
    min-height:32px;
    padding-top:6px;
    padding-bottom:6px;
    background-color:lightgray;
    text-align:left;
    color:black;
    cursor:text;
}

.filter > div > input::-webkit-input-placeholder {
    font-style: italic;
    color: black;
}

.filter > div > input:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    color: darkslategray;
}

.filter > div > input::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
    color: darkslategray;
}

.filter > div > input:-ms-input-placeholder {
    font-style: italic;
    color: darkslategray;
}


.filter > div > .btn {
    border-radius:0;
    background-color:lightgray;
    padding-right:0;
    border:none;
}

#focus-search {
    background-color:gray;
    color:whitesmoke;
}

div.filter > div:not(:last-child) {
    border-right: 1px solid whitesmoke;
}

div.dropdown {
    padding-left:0;
    padding-right:0;
}

div.dropdown:hover:not(.filter){
    background:#204d74;
    color:white;
}

div.dropdown.row:not(.filter) {
    margin-right:0;
    margin-left:0;
}

div.dropdown > span{
    white-space:normal;
}
div.dropdown > input[type='checkbox']{
}

.internet-value{
    text-align:left;
}

.inline{
    display:inline;
}

.panel-body.in-overlay{
    padding:15px 5px;
    overflow-y:auto;
}

div.clickable:hover{
    background-color:#DDDDDD;
}

.cursor-normal:hover{
    cursor:default!important;
}

#map { height: 100% }

#container, .container-fluid {
    height:100%;
}

.main-view-container {
    height: 90%;
    min-height: 400px;
    border-radius: 0.5% ;
    background-color: #FFFFFF;
}

.view-container {
    height:100%;
    float:left;
    width:100%;
}

.sidebar {
    padding-top: 2%;
    text-align:right;
    float:left;
}

.half-view-container, .viewpane {
    height: 100%;
    width:100%;
    background-color:#EEEEEE;
}

.viewpane {
    padding: 1em;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.padding-left-md {
    padding-left:1em;
}

.padding-right-md {
    padding-right:1em;
}

.padding-top-md {
    padding-top:1em;
}

.padding-bottom-md {
    padding-bottom:1em;
}

.margin-left-md {
    margin-left:2em;
}

.margin-right-md {
    margin-right:2em;
}

.margin-top-md {
    margin-top:2em;
}

.margin-bottom-md {
    margin-bottom:2em;
}

/*
                             UI LAYOUT
       * Customize borders and shading to suit this nested layout
       */
.ui-layout-pane { /* all 'panes' */
    padding: 2px;
    background: #FFF;
    border: 1px solid #BBB;
}

.ui-layout-resizer { /* all 'resizer-bars' */
    background: dodgerblue;
}
.ui-layout-resizer:hover { /* all 'resizer-bars' */
    background: darkblue;
}

.ui-layout-toggler { /* all 'toggler-buttons' */
    background: #AAA;
}
.ui-layout-toggler:hover { /* all 'toggler-buttons' */
    background: #FC3;
}

/*
    Within the visualizations:

*/

.vis-container {
    height:100%;
    margin:auto;
}

.padding-top-3 {
    margin-top:3em;
}

.no-margin {
    margin:0;
}

/* PIE CHART */

div.tooltip {
    font-size: 1em;
    position: absolute;
    text-align: center;
    padding: 0.7em;
    background: ghostwhite;
    border: 0;
    border-radius: 1em;
    pointer-events: none;
}

div.tooltip.pie{

}

.piechart.bottom{
    overflow: hidden;
}

.piechart.label{

}

.piechart.label.hide-small{
    min-width:50px;
}

.map-top{
    margin-top:0.5em;
    margin-bottom:1em;
}

.overflow-hidden {
    overflow:hidden;
}

/**
JQUERY UI SLIDER

HACKY HACKY HACKY
    for some reason these get overwritten, so we make them important
HACKY HACKY HACKY
**/

.slider{
    margin-bottom:2em!important;
}

.slider .ui-slider-range {
    background: dodgerblue;
    border: blue;
}

.ui-slider-pip .ui-slider-label {
    display:none!important;
}

.ui-slider-pip:nth-of-type(5n-2) .ui-slider-label{
    display:block!important;
}

.ui-slider-pip:nth-of-type(2) .ui-slider-label {
    display:none!important;
}