<div id="map">
</div>

<script>
/*
    var map = L.map('map').setView([52.088, 5.119], 3);

    $.getJSON("/vis3/resources/world.geo.json/countries.geo.json", function(geojsonFeature) {

        L.geoJson(geojsonFeature).addTo(map);
    });
*/


    var map = $("#map");


    var height = map.height();
    var width = map.width();

    var linearColorScale = d3.scale.linear()
            .domain([0.0, 100.0])
            .range(["white", "blue"]);

    var zm = d3.behavior.zoom().scaleExtent([1, 20]).on("zoom", zoom);

    var upper_svg = d3.select("#map").append("svg")
            .attr("width", width)
            .attr("height", height);


    svg = upper_svg
            .append("g")
            .call(zm)
            .append("g");


    var countryData = d3.map();

var projection = d3.geo.mercator()
        .rotate([0, 0])
        .center([5.2, 52.2])
        //.parallels([50, 53])
        .scale(100)
        .translate([width/2,height/2]);

var path = d3.geo.path().projection(projection);
/*

svg.append("rect")
        .attr("class", "overlay")
        .attr("width", width)
        .attr("height", height);
*/

var g = svg.append("g");
var internet_data;


queue()
        .defer(d3.json, "/vis3/resources/world-countries.json", function(res){
            draw_map(res);
        })
        .defer(d3.json, "/vis3/data/internet.json", function(res) {

            internet_data = res;
        });


function dataLoaded(error, map_data) {

/*
    $.each(internet_data.values(), function (key, value) {
        var code = value.gm_code;
        $('#table_' + code).click(function () {
            if (selected.indexOf(code) >= 0) {
                deselect_municipality(code);
            }
            else {
                select_municipality(code);
            }
        });
    });*/
}

function draw_map(mapData){

   /* var maxValue = get_max_value();
    var minValue = get_min_value();
    linearColorScale.domain([minValue, maxValue]);
    $("#min-legend").html(minValue);
    $("#max-legend").html(maxValue);
*/

    g.selectAll("path")
            .data(mapData.features).enter()
            .append("path")
            .attr("d", path)
            .attr("id", function(d) { return d.country;})
            .attr("onclick", (function(d) {return 'm_clicked("' + d.gm_code + '")';}))
            .style("fill", function(d) {
                var city_values = cityData.get(d.gm_code);
                var current_value = (typeof city_values === "undefined") ? city_values : city_values[current_variable];
                return linearColorScale(current_value); })
            .attr("class", function(d) {

                var city_values = cityData.get(d.gm_code);
                var current_value = (typeof city_values === "undefined") ? city_values : city_values[current_variable];
                if(typeof current_value === "undefined")
                    return "no_data";
            })
            .append("title").text(function(d) {

                var city_values = cityData.get(d.gm_code);
                var current_value = (typeof city_values === "undefined") ? city_values : city_values[current_variable];

                return d.gm_naam + ", " +
                        current_value });



    var toColor = data_keys[current_variable].color;
    var legend = $("#legend")
            .attr("style", "background:-webkit-linear-gradient(left, white,"+toColor + ")")
            .attr("style", "background:-o-linear-gradient(right, white,"+toColor + ")")
            .attr("style", "background:-moz-linear-gradient(right, white,"+toColor + ")")
            .attr("style", "background:linear-gradient(to right, white,"+toColor + ")");


}


function zoom() {
    svg.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}

function view1_resize(){

    var map = $("#map");

    upper_svg.attr("width", map.width())
        .attr("height", map.height());
}

</script>